XeniaDiscord/Aaron Marks' Complete Guide to Game Audio _ For Composers, -- Marks, Aaron -- 3rd edition, 2017 -- Taylor & Francis Ltd -- 9781138628854 -- f8ec6e52ee2b8ca1e8d8627521eeab12 -- Anna’s Archive.pdf
